body {
  background-color: #E8E8E8;
  color: #080808;
  font-size: 20px;
  line-height: 1.2;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

figcaption {
  font-size: .7em;
  margin-bottom: .8em;
}

article h1 {
  font-size: 2.5em;
  margin-top: 1em;
}

article h3 {
  font-size: 1.3em;
  margin-top: .5em;
}

article p {
  margin: 1em 0;
}

.author {
  color: #636363;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.story-text {
  margin-bottom: 4em;
}

.container {
  margin: 0 auto;
  width: 50%;
}

nav ul li {
  width: 3.1em;
}

a:link, a:visited{
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}
