body {
  background-color: #E8E8E8;
  color: #080808;
  font-size: 16px;
  line-height: 1.2;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

figcaption {
  font-size: .8em;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

.author {
  color: #636363;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a:link {
  text-decoration: none;
  text-color: #0070BB;
}
