/* ------- Entire app ---------*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  color: #312C23;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-image: linear-gradient(rgba(30,131,125,1), rgba(30,131,125,.5));
  padding-bottom: 5px;
}

/* ------- Header ---------*/

header {
  background-color: rgba(0,0,0,.2);
  color: #F9F9F9;
  font-weight: 700;
  text-align: center;
}

header h1 {
  font-size: 1.7em;
  padding: 1.2em 0;
}

nav h2 {
  text-transform: uppercase;
  font-size: .8em;
}

.status-bar img {
  width:100%;
}

.nav-tab {
  width: 50%;
  display: inline-block;
}

.underline {
  height: 5px;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
}

.right-underline {
  background-color: #F9F9F9;
}

.bus-stop-filter {
  padding: 10px 0;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2;
}

.stop-name {
  width: 90%;
  display: inline-block;
  font-weight: 400;
  font-size: 1.2em;

}

.stop-icon {
  width:5%;
  display:inline-block;
  vertical-align: top;
  padding-top: 2px;
}

/* ------- Individual Bus Lines ---------*/

/* -- Patterns -- */
.bus-line-container {
  background-color: rgba(255,255,255,.9);
  margin: 5px;
  padding: 10px 0;

}

.block {
  display: inline-block;
}

.right-div {
  width: 40%;
  float: right;
  text-align: right;
  padding-right: 30px;
}

.standard-icon-div img {
  width: 15px;
  height: auto;
  vertical-align: bottom;
}

.north, .east, .south {
  opacity: 0.5;
}

.east {
transform:rotate(90deg);
}

.south {
  transform:rotate(180deg);
}

.inactive {
  opacity: 0.5;
}

.alert-icon {
  height: 0.45em;
  width: auto;
}

/* -- Specific styles --*/

.line-number-div {
  font-size: 3.5em;
  width: 50%;
  display: inline-block;
  padding-left: 30px;
}

.time-number-div {
  font-size: 2.5em;
  width: 50%;
  text-align: right;
  padding-right: 30px;
}

.arriving {
  font-size: 1.5em;
}

.standard-icon-div {
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

.destination-div, .direction-div {
  width: 50%;
  line-height: 1.3;
}

.direction-div, .frequency-div {
  opacity: 0.5;
}

.mins {
  font-size: 0.4em;
}


/*

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #020202;
}

.restaurant-list {
  padding-top: 45px;
}

.location {
}

.location .content {
  display: inline-block;
  padding: 15px;
  width: 91%;
}

.location .arrow {
  display: inline-block;
  padding: 15px;
  padding-top: 23px;
  vertical-align: top;
  width: 5%;
}

.content h1 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4;
}

.content h3 {
  font-size: 1.3em;
  line-height: 1.2;
}

div.location {
  background-color: #E0DEE0;
}

div.location:hover {
  background-color: #B4B2B4;
}
